.CU-div{
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin-top:50px;
}
.CU-form {
  display: flex;
  flex-direction: column;
}
.email{
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  color: #162B32;
  font-size: 1.1em;
  margin-top: 50px;
}
.customize-textfield{
  margin-bottom: 20px;
}
.textfield{
  width: 40vw;
}