.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 210px;
}
.name-title {
    font-family: 'Gloria Hallelujah', cursive;
    color: #162B32;
    font-size: 5em;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.sub-title {
    font-family: "Montserrat", sans-serif;
    color: #162B32;
    font-size: 2em;
    font-style: italic;
    /* margin-top: 0.2em; */
}
.nav {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    margin-top: 1.5em;
}
.link {
    padding-left: 1.1em;
    padding-right: 1.1em;
}
.link:hover {
    color: #81C14B;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* ------------------------------------------------ Media Query ---------- */
/* All Iphones */

@media (max-width: 415px) {
    .name-title{
        font-size: 3em;
    }
    .sub-title{
        font-size: 1em;
    }
    .main-container{
        margin-top: 120px;
    }
}