@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 210px;
}
.name-title {
    font-family: "Montserrat", sans-serif;
    color: #455b64;
    font-size: 5em;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.sub-title {
    font-family: "Montserrat", sans-serif;
    color: #455b64;
    font-size: 2em;
    font-style: italic;
    margin-top: 0.4em;
}
.nav {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    margin-top: 1.5em;
}
.link {
    padding-left: 1.1em;
    padding-right: 1.1em;
    text-decoration: none;
    color: #455b64;
}
.link:hover {
    color: #81C14B;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
