.project_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay-zone{
    position: relative;
}
.overlay{
    background-color: rgba(0, 182, 158, 0.7);
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: opacity .5s;
}
.overlay:hover {
    opacity: 1;
    transition: opacity .5s;
}





/* .card-title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    height: 40px;
    width: 225px;
    margin-top:5px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
}  */