/* hamburger toggle icon */
label {
    position: relative; 
    font-size: 3em;
    padding-bottom: .5em;
    color:#162B32;
    z-index: 100; /* position needs to be set to use z-index */
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}



/* hides the checkbox */
input[type=checkbox] {
    visibility: hidden;
}



/* positioning menu with effects */
.menu-items {
    position: fixed;
    background: #C4C6C8;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 1;
}



/* positioning hamburger */
.hamnav{
    padding-bottom: 30px;
}



/* display menu if hamburger checked */
.hamnav input:checked ~ .menu-items {
    opacity: .9;
    visibility: visible;
    height: 100%;
}



/* styling the menu */
.menu-items nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}
.menu-items ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.menu-items ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    /* opacity: 0; */
}



/* ---------- Media Queries ---------- */
/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    label{
        font-size: 2em;
    }
    .hamnav{
        padding-bottom: 14px;
    }
}