label {
    display: flex;    
    align-items: flex-end;
    font-size: 3em;
    margin-top: .9em;
    /* margin-bottom: 2em; */
}

/* hides the checkbox */
input[type=checkbox] {
    visibility: hidden;
}

/* Toggle Show/Hide Menu */
.menu-items{ display: none; }
.hamnav input:checked ~ .menu-items { display: block; }




/* sibling issue -css selector*/

/* #hamburger ~ label button {
    background:yellow;
}
#hamburger:checked ~ label button {
    background:red;
} */