.page-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    height: 60vh;
    align-items: center;
    justify-items: center;
}



/* left column */
.photo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.professional-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
svg.gh-li-icon{
    margin-left: 12px;
    margin-right: 12px;
}



/* middle column */
.about-paragraph{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .9px;
    max-width: 400px;
    text-align: center;
    color: #162B32;
}
.gh-li-icon-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}



/* right column */
.dev-icon-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    justify-content: center;
}
.item-center {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}



/* icon styling */
svg.dev-icon{
    height: 3.3em;
    width: 3.3em;
    color: #162B32;
}
svg.dev-icon:hover, svg.gh-li-icon:hover{
    color:#81C14B;
}
svg.gh-li-icon{
    height: 2.8em;
    width: 2.8em;
    color: #162B32;
}



/* tooltip feature */
.text {
    visibility: hidden;
    width: 120px;
    background-color: #455b64;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 1;
}


/* fix tool-tip feature */
/* svg.dev-icon:hover + .text {
    visibility: visible;
}
.icon:hover + .text {
    visibility: visible;
} */





/* ---------- Media Queries ---------- */
/* Iphone 5/SE - 320px */
@media (max-width: 320px) {
    .professional-image{
        height: 80%;
        width: 80%;
    }
    .about-paragraph{
        font-size: 12px;
    }
}
/* MotoG4, Galaxy S5 - 360px */ 
@media (min-width: 321px) {}
/* Iphone 6/7/8, Iphone X  - 375 */
@media (min-width: 361px) {}
/* Pixel 2, Pixel 2XL - 411 - Iphone 6/7/8 Plus - 414px */
@media (min-width: 411px) {}
/* Ipad - 768px */
/* @media (max-width: 768px) {} */






/* double column */
@media (max-width: 950px) {
    .page-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
    }
    .photo-container, .about-paragraph{
        margin-bottom: 40px;
    }
}



/* ---------- Media Queries ---------- */
/* Iphone 5/SE - 320px */
@media (max-width: 320px) {}
/* MotoG4, Galaxy S5 - 360px */ 
@media (min-width: 321px) {}
/* Iphone 6/7/8, Iphone X  - 375 */
@media (min-width: 361px) {}
/* Pixel 2, Pixel 2XL - 411 - Iphone 6/7/8 Plus - 414px */
@media (min-width: 411px) {}
/* Ipad - 768px */
/* @media (max-width: 768px) {} */