.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.portfolio_img{
    display: flex;
    border-radius: 50%;
    width: 400px;
    height: 500px;
}

.about-paragraph{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    width: 350px;
}