.header-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 3% 7% 0% 7%; /* trbl */
}
.name-link{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 5em;
}
.link{
    padding-left: 1.1em;
    font-family: 'Montserrat', sans-serif;
}
.link:hover{
    color: #81C14B;
}


/* ------------------------------------------------ Media Query ---------- */

/* Breakpoints  */

@media (max-width: 415px) {
    .name-link {
        font-size: 2.2em;
    }
}
@media (max-width: 500px) {
    .name-link {
        font-size: 2.5em;
    }
}
@media (max-width: 415px) {
    .name-link {
        font-size: 2em;
    }
}












/* ----Animation ---- */
/* .name-link:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .7s ease;
} */