.header-container{
    display: flex;
    justify-content: space-between;
    padding: 3% 7% 0% 7%; /* trbl */
    align-items: flex-end;
}
.name-link{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 5em;
}
.link{
    padding-left: 1.1em;
    font-family: 'Montserrat', sans-serif;
}
.link:hover{
    color: #81C14B;
}


/* ---------- Media Queries ---------- */
/* Iphone 5/SE - 320px */
@media (max-width: 320px) {
    .name-link {
        font-size: 2em;
    }
}
/* MotoG4, Galaxy S5 - 360px */
@media (max-width: 360px) {
    .name-link {
        font-size: 2.1em;
    }
}
/* Iphone 6/7/8, Iphone X - 375px */
@media (max-width: 375px) {
    .name-link {
        font-size: 2.1em;
    }
}
/* Pixel 2, Pixel 2XL - 411 - Iphone 6/7/8 Plus - 414px */
@media (max-width: 414px) {
    .name-link {
        font-size: 2.2em;
    }
}
/* Ipad - 768px */
/* @media (max-width: 768px) {} */




/* breakpoint  */
@media (max-width: 500px) {
    .name-link {
        font-size: 2.5em;
    }
}













/* ----Animation ---- */
/* .name-link:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .7s ease;
} */