.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
}